@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
body
{
  background-color: rgba(150, 150, 150, 1);
  width: 400px;
  margin: 0 auto;
  text-align: left;
}
iframe
{
  width: 500px;
  margin: -500 auto;
  text-align: left;
}
p
{
  margin: 50 auto;
  text-align: center;
}
